---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, visitor!</h1>
			<p>
				Welcome to Fairlist, a list of fair and ethical Minecraft servers! I may add and remove this to this list as I see fit,
				you may make a PR with your server on the GitHub, I will then review the server to decide if it belongs here.
				I get final say on what stays in or not, no questions. I will provide my reason of why it didn't make the cut.
			</p>
			<h2>
				What are some general guidelines
			</h2>
			<ul>
				<li>The server doesn't contain any major gambling with real money or in-game currency bought with real money</li>
				<li>A server which is mostly pay to win and unfun for new players due to the P2W nature, being P2W can be ethical however</li>
				<li>A server which provides a safe environment for all players regardless of but not limited to age, gender or race</li>
				<li>A server which is PEGI 12 rated or lower, this of course doesn't need to be official but should fit the standard</li>
				<li>A server must not allow players to chat report, turning <code>enforce-secure-profile</code> is NOT enough.</li>
			</ul>
			<p>
				My reasons for servers having no chat reporting is pretty clear, Mojang shouldn't censor it's players and in no way
				should they be allowed to ban players from all online activity, they hold their right to ban you from realms, not
				other's servers. When a server is on this list, you have trust you can't be banned.
			</p>
		</main>
		<Footer />
	</body>
</html>
