---
const { href } = Astro.props;
---

<a href={href}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		color: white;
		transition: color .2s ease;
	}
	a:hover {
		text-decoration: none;
		color: rgba(200, 200, 200);
	}
</style>
